@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

body {
  padding: 10px;
  display: grid;
  place-content: center;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;

  *background-color: #ffffff;
  background-color: #014040;
  background-image: url(fundo.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
p,
a {
  text-align: center;
  color: black;
}

h1{
  font-family: 'Londrina Solid', cursive;
  font-size: 2.5em;
  color: darkorange;
  text-shadow: 2px 2px black;
}

strong.importante{
  color: darkorange;
}
p {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
}

p.cadastro{
  text-align: left;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
}

input,
textarea,
button{
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid black;
}

select {
  width: 100%;
  height: 30px;
  margin-bottom: 16px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid black;
}

input,
textarea {
  padding: 16px;
}

input,
button {
  height: 40px;
}

button {
  cursor: pointer;
  background-color: #25d366;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 48px;
}

button img {
  margin-right: 8px;
}

a {
  color: #25d366;
}

div.horario{
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.41);
}